<meta charset="UTF-8">
<title>Haxolot</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:50px; }
</style>

<body>
    <div class="container">
        <h1>Home</h1>
        <a href="/register">Register</a>
